#############################
##      .clang-format      ##
#############################

Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
AccessModifierOffset: -4
NamespaceIndentation: All

# Braces
BreakBeforeBraces: Attach

# Column limit
ColumnLimit: 0

# Alignment
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
IncludeCategories:
  # 1. Local includes (relative/quoted)
  - Regex: '^"([^l]|l[^o]|lo[^o]|loo[^m]).*"'
    Priority: 1
  # 2. Project includes (loom/)
  - Regex: '^"loom/'
    Priority: 2
  # 3. Vendor/Third-party (angle brackets with OR without slashes)
  # This catches <glm/...>, <imgui.h>, and <nfd.hpp>
  - Regex: '^<.*\.(h|hpp|ptr)>'
    Priority: 3
  # 4. Standard Library (things like <vector>, <filesystem>, <iostream>)
  # Usually no file extension
  - Regex: "^<[^.]*>$"
    Priority: 4

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpaceAroundPointerQualifiers: Default
Cpp11BracedListStyle: false

# Function/call formatting
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty

# Constructor initializer lists
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never

# Template and inheritance
BreakInheritanceList: BeforeColon

# Line breaking
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false

# Misc
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
CompactNamespaces: false
FixNamespaceComments: true
SortUsingDeclarations: true
